<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Fun Fact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="facts-page">
    <div class="form-container">
        <h1>Submit Fun Fact</h1>
        <div class="callout">
            If you have some fun animal facts you'd like to share, please submit them! We may use them in the future.
        </div>
        <div class="facts-container">
            <form method="post" action="{{ url_for('fact.submit_fact') }}">
                <div class="input-box">
                    <label for="submitter"><h2>Name</h2></label>
                    <input type="text" name="submitter" id="submitter" required>
                </div>
                <div class="input-box">
                    <label for="fact"><h2>Fact</h2></label>
                    <textarea name="fact" id="fact" rows="5" required></textarea>
                </div>
                <div class="input-box">
                    <button type="submit">Submit the Fact</button>
                </div>
            </form>
        </div>
        <div class="facts-link-container">
            <a href="/pets">← Go Back</a>
        </div>
    </div>
</body>
</html>
