<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to PetFax</h1>
     <!-- Loop through the 'pets' list or iterable -->
    {% for pet in pets %}
        <!-- Display the value of the 'pet_name' attribute for each 'pet' object -->
        <h2>{{ pet.pet_name }}</h2>
        <!-- Display the value of the 'pet_photo' attribute as the image source -->
        <img src="{{ pet.pet_photo }}" alt="Photo of pet" />
    {% endfor %}
</body>
</html>